.container {
    background-color: #1F2937; 
    height: 100vh;
    width: 100vw;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem; 
    gap: 1rem; 
}

.column {
    display: flex;
    flex-direction: column;
    border: 8px dashed #2563EB; 
    padding: 1rem; 
    margin-right: 15px; 
}

.heading {
    color: #2563EB; 
    font-size: 1.5rem; 
    text-align: left;
    font-family: 'Lato', sans-serif; 
    padding: 0.5rem 1rem; 
}

.list {
    color: white;
    font-family: 'Lato', sans-serif;
    list-style-type: disc;
    padding: 0.5rem 1rem; 

}